@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sectionTitle {
  @apply text-violet font-bold text-6xl;
}
